body {
  position: relative;
  height: 100vh;
  background: linear-gradient(#44899b, #72e2ed);
  letter-spacing: normal;
  margin: 0;
  font-family: "Anton", sans-serif;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

/* 背景画像 */
body::before {
  content: "";
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  background: url(../img/background.png) center center / cover no-repeat fixed;
}