body {
  position: relative;
  height: 100vh;
  background: linear-gradient(#44899b, #72e2ed);
  letter-spacing: normal;
  margin: 0;
  font-family: "Anton", sans-serif;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

body::before {
  content: "";
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  background: url(../img/background.png) center center / cover no-repeat fixed;
}

.night {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateZ(140deg);
  transform: rotateZ(140deg);
}

.shooting_star {
  position: absolute;
  left: 80%;
  top: 80%;
  height: 2px;
  background: linear-gradient(-45deg, #ffffff, rgba(255, 255, 255, 0));
  border-radius: 999px;
  -webkit-filter: drop-shadow(0 0 6px #699bff);
  filter: drop-shadow(0 0 6px #699bff);
  -webkit-animation: tail 4000ms ease-in-out infinite,
    shooting 4000ms ease-in-out infinite;
  animation: tail 4000ms ease-in-out infinite,
    shooting 4000ms ease-in-out infinite;
}
.shooting_star::before,
.shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, #72e2ed, #ffffff, #72e2ed);
  -webkit-transform: translateX(50%) rotateZ(45deg);
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
  animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  -webkit-transform: translateX(50%) rotateZ(-45deg);
  transform: translateX(50%) rotateZ(-45deg);
}

.shooting_star:nth-child(1) {
  top: calc(25% - -37px);
  left: calc(25% - 14px);
  -webkit-animation-delay: 8000ms;
  animation-delay: 8000ms;
}
.shooting_star:nth-child(1)::before,
.shooting_star:nth-child(1)::after,
.shooting_star:nth-child(1)::after {
  -webkit-animation-delay: 8000ms;
  animation-delay: 8000ms;
}

.shooting_star:nth-child(2) {
  top: calc(65% - 43px);
  left: calc(65% - 317px);
  -webkit-animation-delay: 5000ms;
  animation-delay: 5000ms;
}
.shooting_star:nth-child(2)::before,
.shooting_star:nth-child(2)::after,
.shooting_star:nth-child(2)::after {
  -webkit-animation-delay: 5000ms;
  animation-delay: 5000ms;
}

@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
  }
}
@keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
  }
}
@-webkit-keyframes sky {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
}
@keyframes sky {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
}
